/************************************************************************************************************************

ROCK POR ALEPPO
Description: Mobile CSS file
Version: 1.0 / 2017-04

************************************************************************************************************************/


@charset "UTF-8";


@media (max-width: 550px){

	*{
		max-width: 100%;
	}



}